[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[ca]=Discurs del Cinnamon
Name[de_DE]=Cinnamon Discourse
Name[en_GB]=Cinnamon Discourse
Name[es]=Discourse de Cinnamon
Name[fr]=Cinnamon Discourse
Name[hu]=Cinnamon Discourse
Name[it]=Cinnamon Discourse
Name[ja]=Cinnamon 談話
Name[lt]=Cinnamon Discourse
Name[ms_MY]=Cinnamon Discourse
Name[pl]=Cinnamon Discourse
Name[pt_BR]=Discurso do Cinnamon
Name[pt_PT]=Discourse do Cinnamon
Name[sr_RS]=Cinnamon Discourse
Name=Cinnamon Discourse
Exec=xdg-open "https://discourse.ubuntucinnamon.org"
Icon=distributor-logo-ubuntu-cinnamon
Comment[ca]=Formeu part de la comunitat d'Ubuntu Cinnamon
Comment[de_DE]=Werden Sie Teil der Ubuntu Cinnamon Community
Comment[en_GB]=Be part of the Ubuntu Cinnamon Community
Comment[es]=Se parte de la Comunidad Ubuntu Cinnamon
Comment[fr]=Faites partie de la communauté Ubuntu Cinnamon
Comment[hu]=Legyen tagja Ön is az Ubuntu Cinnamon közösségnek
Comment[it]=Entra a far parte della Ubuntu Cinnamon Community
Comment[ja]=Ubuntu Cinnamonコミュニティの一員になりましょう
Comment[lt]=Tapkite Ubuntu Cinnamon bendruomenės dalimi
Comment[ms_MY]=Jadilah sebahagian daripada Komuniti Ubuntu Cinnamon
Comment[pl]=Bądź częścią społeczności Ubuntu Cinnamon
Comment[pt_BR]=Faça parte da Comunidade Ubuntu Cinnamon
Comment[pt_PT]=Faça parte da Comunidade Ubuntu Cinnamon
Comment[sr_RS]=Budi deo Ubuntu Cinnamon Zajednice
Comment[tr]=Ubuntu Cinnamon Topluluğunun bir parçası olun
Comment=Be part of the Ubuntu Cinnamon Community
Keywords=desktop;preferences;
OnlyShowIn=Cinnamon;
