[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[bg]=Cinnamon Добре дошли
Name[ca]=Benvinguda del Cinnamon
Name[da]=Cinnamon Velkomst
Name[de_DE]=Willkommen zu Cinnamon
Name[el]=Εφαρμογή υποδοχής Cinnamon
Name[en_GB]=Cinnamon Welcome
Name[eo]=Cinnamon Welcome
Name[es]=Bienvenida de Cinnamon
Name[fa]=خوش آمد گویی بادجی
Name[fr]=Cinnamon Bienvenue
Name[hu]=Cinnamon Welcome
Name[id_ID]=Cinnamon Selamat Datang
Name[it]=Cinnamon Welcome
Name[ja]=Cinnamon へようこそ
Name[ko]=Cinnamon 환영
Name[lt]=Cinnamon Sveiki
Name[ms_MY]=Aluan Cinnamon
Name[nl_NL]=Cinnamon Welkom
Name[pl]=Witaj w Cinnamon
Name[pt_BR]=Boas-Vindas Cinnamon
Name[pt_PT]=Boas-Vindas Cinnamon
Name[ru]=Приветствие Cinnamon
Name[sr_RS]=Cinnamon Welcome
Name[tr]=Cinnamon Hoşgeldiniz
Name=Cinnamon Welcome
Exec=ubuntucinnamon-welcome
Icon=distributor-logo-ubuntu-cinnamon
Comment[ca]=Descobriu el sistema operatiu
Comment[de_DE]=Mehr über das Betriebssystem erfahren
Comment[en_GB]=Find out about your operating system
Comment[eo]=Eltrovu pli pri via operaciumo
Comment[es]=Encuentre información acerca de su sistema operativo
Comment[fr]=Informations sur votre système d'exploitation
Comment[hu]=Ismerje meg az operációs rendszert
Comment[id_ID]=Cari tahu tentang sistem operasi Anda
Comment[it]=Scopri di più sul tuo sistema operativo
Comment[ja]=お使いのオペレーティングシステムについて知る
Comment[ko]=설치된 운영 체제에 대해 알아보기
Comment[lt]=Sužinokite apie savo operacinę sistemą
Comment[ms_MY]=Ketahui tentang sistem pengoperasian anda
Comment[nl_NL]=Alles over je besturingssysteem
Comment[pl]=Zapoznaj się z informacjami o swoim systemie operacyjnym
Comment[pt_BR]=Veja informações sobre o seu sistema
Comment[pt_PT]=Veja informações sobre o seu sistema
Comment[ru]=Познакомьтесь со своей операционной системой
Comment[sr_RS]=Saznajte više o svom operativnom sistemu
Comment[tr]=İşletim sisteminiz hakkında bilgi edinin
Comment[zh_TW]=了解你的作業系統
Comment=Find out about your operating system
Keywords=desktop;preferences;
OnlyShowIn=Cinnamon;
StartupWMClass=ubuntucinnamon-welcome
